<div class="container-fluid">
    <div class="c">
          <h1>Contact Form</h1><br>
    <p>Field market with an <b>*</b> are required</p>
    <hr>
    <div class="co">
        <label for="">Name: <b>*</b></label>
        <input type="text" class="form-control" placeholder="Your name" required>
        <label for="">Phone: <b>*</b></label>
        <input type="number" class="form-control" placeholder="Your phone number" required>
        <label for="">Email: <b>*</b></label>
        <input type="email" class="form-control" placeholder="example@example.com" required>
        <label for="">Message: <b>*</b></label>
        <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="type your message" required></textarea> <br>

        <button class="btn ">Submit</button> 
        <div class="up">
            <i class="fas fa-plus" style="color: red;"></i>
        </div> 
    </div>
    </div>
  
</div>