<div class="container" style="width: 60%;">
    <div class="logo" style="width: 100%;">
        <img src="../../../assets/DEL4.jpg" width="420px"  height="350px" alt="">
        <div class="texto" >
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad mollitia incidunt iste corporis amet fugiat fugit ut et distinctio necessitatibus aut, vel dignissimos libero. Voluptatem recusandae sed modi facere temporibus.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum praesentium tempore, non cupiditate eos, tenetur magnam quisquam id nulla corrupti, iure reprehenderit. Recusandae laborum perferendis asperiores, autem dolore fugiat iste.
        </p>
        </div>
    </div>
 
</div>
