<div id="demo" class="carousel slide" style=" padding: 10px;" data-ride="carousel">

  <!-- Indicators -->
 

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active" data-duration:="100">
      <div class="container" style="width: 60%;">
        <div class="logo" style="width: 100%;text-align: center;">
          <!-- <img src="../../../assets/gif.mp4" width="420px"  height="350px" alt=""> -->
          <a href="" style="z-index: 9;"><video src="../../../assets/gif.mp4" controls width="420px" height="350px"></video> <br> View More</a> 
            <h1>Take Our Time - Joey Restivo</h1>
            <div class="texto" >
              <div class="row">
                <div class="col-md-4">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad mollitia incidunt iste corporis amet fugiat fugit ut et distinctio necessitatibus aut, vel dignissimos libero. Voluptatem recusandae sed modi facere temporibus.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum praesentium tempore, non cupiditate eos, tenetur magnam quisquam id nulla corrupti, iure reprehenderit. Recusandae laborum perferendis asperiores, autem dolore fugiat iste.
                </p>
                
                </div>
                <div class="col-md-4">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad mollitia incidunt iste corporis amet fugiat fugit ut et distinctio necessitatibus aut, vel dignissimos libero. Voluptatem recusandae sed modi facere temporibus.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum praesentium tempore, non cupiditate eos, tenetur magnam quisquam id nulla corrupti, iure reprehenderit. Recusandae laborum perferendis asperiores, autem dolore fugiat iste.
                </p>
                
                </div>
                <div class="col-md-4">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad mollitia incidunt iste corporis amet fugiat fugit ut et distinctio necessitatibus aut, vel dignissimos libero. Voluptatem recusandae sed modi facere temporibus.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum praesentium tempore, non cupiditate eos, tenetur magnam quisquam id nulla corrupti, iure reprehenderit. Recusandae laborum perferendis asperiores, autem dolore fugiat iste.
                </p>
                
                </div>
              </div>
              
            </div>
            
        </div>
     
    </div>
    </div>
    <div class="carousel-item" data-duration:="100">
      <div class="container" style="width: 60%;">
        <div class="logo" style="width: 100%;text-align: center;">
          <a href="" style="z-index: 9;"><img src="../../../assets/tr (1).png" width="420px"  height="350px" alt=""><br> View More</a> 
            <h1>Take Our Time Remix - Joey Restivo</h1>
            <div class="texto" >
              <div class="row">
                <div class="col-md-4">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad mollitia incidunt iste corporis amet fugiat fugit ut et distinctio necessitatibus aut, vel dignissimos libero. Voluptatem recusandae sed modi facere temporibus.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum praesentium tempore, non cupiditate eos, tenetur magnam quisquam id nulla corrupti, iure reprehenderit. Recusandae laborum perferendis asperiores, autem dolore fugiat iste.
                </p>
                </div>
                <div class="col-md-4">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad mollitia incidunt iste corporis amet fugiat fugit ut et distinctio necessitatibus aut, vel dignissimos libero. Voluptatem recusandae sed modi facere temporibus.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum praesentium tempore, non cupiditate eos, tenetur magnam quisquam id nulla corrupti, iure reprehenderit. Recusandae laborum perferendis asperiores, autem dolore fugiat iste.
                </p>
                </div>
                <div class="col-md-4">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad mollitia incidunt iste corporis amet fugiat fugit ut et distinctio necessitatibus aut, vel dignissimos libero. Voluptatem recusandae sed modi facere temporibus.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum praesentium tempore, non cupiditate eos, tenetur magnam quisquam id nulla corrupti, iure reprehenderit. Recusandae laborum perferendis asperiores, autem dolore fugiat iste.
                </p>
                </div>
              </div>
           
            </div>
        </div>
     
    </div>
    </div>
    <div class="carousel-item" data-duration:="100">
      <div class="container" style="width: 60%;">
        <div class="logo" style="width: 100%;text-align: center;">
          <a href="" style="z-index: 9;"><img src="../../../assets/nk.png" width="420px"  height="350px" alt=""><br> View More</a> 
            <h1>Knocking On Heaven's Door - Joey Restivo</h1>
            <div class="texto" >
              <div class="row">
                <div class="col-md-4">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad mollitia incidunt iste corporis amet fugiat fugit ut et distinctio necessitatibus aut, vel dignissimos libero. Voluptatem recusandae sed modi facere temporibus.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum praesentium tempore, non cupiditate eos, tenetur magnam quisquam id nulla corrupti, iure reprehenderit. Recusandae laborum perferendis asperiores, autem dolore fugiat iste.
                </p>
                </div>
                <div class="col-md-4">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad mollitia incidunt iste corporis amet fugiat fugit ut et distinctio necessitatibus aut, vel dignissimos libero. Voluptatem recusandae sed modi facere temporibus.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum praesentium tempore, non cupiditate eos, tenetur magnam quisquam id nulla corrupti, iure reprehenderit. Recusandae laborum perferendis asperiores, autem dolore fugiat iste.
                </p>
                </div>
                <div class="col-md-4">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad mollitia incidunt iste corporis amet fugiat fugit ut et distinctio necessitatibus aut, vel dignissimos libero. Voluptatem recusandae sed modi facere temporibus.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum praesentium tempore, non cupiditate eos, tenetur magnam quisquam id nulla corrupti, iure reprehenderit. Recusandae laborum perferendis asperiores, autem dolore fugiat iste.
                </p>
                </div>
              </div>
           
            </div>
        </div>
     
    </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>