
   <div class="menu" style=" height: auto; position: absolute; width: 100%; z-index: 2;" id="menu">
    <app-menu></app-menu>
</div>
<div class="banner" style=" height: auto;  width: 100%;">
        <app-banner></app-banner>
    </div>
    <div class="about" id="about">
        <app-about></app-about>
    </div>
    
    <div class="notices" id="notices" >
      <app-notices></app-notices>  
    </div><br>
    <div class="artists" id="artists" >
        <app-artists></app-artists>
    </div>
    <div class="contact" id="contact" >
        <app-contact></app-contact>
    </div>
 
    <br>
    
    
    <div class="up" style="border: 1px solid #3c3c33; width:40px;position: fixed; z-index: 9; right: 0; bottom: 0;">
        <a href="#menu"><img src="../../../assets/up (2).png" width="40" height="40" alt=""></a>
    </div> 
    

<div class="footer" style="background: #7c7c7c; color: white; text-align: center; height: 120px; padding-top: 3.5%;">
    <app-footer></app-footer> 
 </div>