
.navbar{

    height: 200px;
}

.logo{
    width: 280px;
 
}
.navbar-nav li{
    width: auto;
 
}
.navbar-nav a{
    padding-left: 5px;
    border-bottom: 2px solid #fff;
    color: white;
}
.navbar-nav a:hover{
    
    transition: 1s all;
    border-bottom: none;
}

input[type=search] {
    background: none;
    border-radius: 40px;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=search]:focus {
    width: 15%;
  }