<nav class="navbar navbar-expand-lg navbar-light">

    <img src="../../../assets/dorvil.png" class="logo" alt="" />

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="margin-left: 65%">
      <li>
        <a class="nav-item nav-link active" style="color: white" href="#"
          ><b>Home</b></a
        >
      </li>
      <li>
        <a class="nav-item nav-link"href="#about"><b> About Us</b></a>
      </li>
      <li>
        <a class="nav-item nav-link"href="#notices"><b> Our Services</b></a>
      </li>
      <li>
        <a class="nav-item nav-link"href="#artists" ><b>Our Artist</b> </a>
      </li>
      <li>
        <a class="nav-item nav-link"href="#hiring"><b> Hiring</b></a>
      </li>
      <li>
        <a class="nav-item nav-link" href="#contact"><b>Contact Us</b> </a>
      </li>
    <li>
      
    </li>
    </div>
   
      
      
    
  </div>
<input type="search" name="search" placeholder="Search..." *ngIf="search" style="position: absolute;right: 6%; margin-top: 3%;">
  
    
     <img src="../../../assets/search.png" width="20" height="20" (click)="search = !search" alt="">
   
  
  
</nav>
